.categoryContainer{
    min-height: 80vh;
    display: flex;
    align-items: center;
}
.categories{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    row-gap: 20px;
    width: 100%;
     flex-wrap: wrap;
}
@media screen and (max-width:1200px) {
       .categoryContainer{
        margin-top: 60px;
       }
}